# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# VS Code
.vscode/

# Uploads
app/uploads/

# Logs
*.log

# Database Migrations Cache
migrations/__pycache__/

# macOS
.DS_Store

# Linux
*~